on post-fs
    insmod /system/lib/modules/bmg160.ko

    setprop ro.iio.anglvel.name "BMG160 Gyroscope"
    setprop ro.iio.anglvel.vendor "Bosch Sensortec"
    setprop ro.iio.anglvel.max_range 2000
    setprop ro.iio.anglvel.resolution 0.1
    setprop ro.iio.anglvel.power 18
    setprop ro.iio.anglvel.quirks "continuous,noisy"
