on post-fs
    insmod /system/lib/modules/bmg160.ko

    setprop ro.iio.anglvel.name "BMG160 Gyroscope"
    setprop ro.iio.anglvel.vendor "Bosch Sensortec"
    setprop ro.iio.anglvel.max_range 17.45
    setprop ro.iio.anglvel.resolution 0.1
    setprop ro.iio.anglvel.power 18
    setprop ro.iio.anglvel.scale 0.000532
    setprop ro.iio.anglvel.quirks "continuous,noisy"
    setprop ro.iio.anglvel.max_freq $[max_freq]
    setprop ro.iio.temp.bmg160.name "BMG160 Temperature Sensor"
