service keymaster_meid /system/bin/keymaster_meid
    # need to be in core class to be started with vold
    class core
    user keystore
    group keystore drmrpc
    socket keymaster_mei stream 0660 keystore drmrpc

