on fs
    # ro.boot.hardware = TARGET_PRODUCT (set in kernel command line
    # as androidboot.hardware). Mount all the filesystems as specified
    # in the fstab.
    mount_all /fstab

on post-fs
    restorecon /dev/block/by-name/android_persistent

service pstore-clean /system/bin/pstore-clean
    user root
    group system
    class late_start
    oneshot

service setup_fs /system/bin/setup_fs \
        /dev/block/by-name/android_data \
        /dev/block/by-name/android_cache
    class core
    user root
    group root
    oneshot

