on init
    # Contains unit-specific data provided during device provisioning.
    # This includes factory.prop which is automatically read by init
    mkdir /factory 0770 system system

    #Set up the persistent data block for trusted factory reset
    mkdir /persistent 0660 system system

on fs
    # ro.boot.hardware = TARGET_PRODUCT (set in kernel command line
    # as androidboot.hardware). Mount all the filesystems as specified
    # in the fstab.
    mount_all /fstab

on post-fs
    restorecon /dev/block/by-name/android_persistent

service pstore-clean /system/bin/pstore-clean
    user root
    group system
    class late_start
    oneshot

service setup_fs /system/bin/setup_fs \
        /dev/block/by-name/android_data \
        /dev/block/by-name/android_cache \
        /dev/block/by-name/android_factory
    class core
    user root
    group root
    oneshot

