on post-fs
    insmod /system/lib/modules/bmc150-accel.ko
    setprop ro.iio.accel.name "BMC150 Accelerometer"
    setprop ro.iio.accel.vendor "Bosch Sensortec"
    setprop ro.iio.accel.max_range 39.24
    setprop ro.iio.accel.resolution 0.01
    setprop ro.iio.accel.power 2
    setprop ro.iio.accel.max_freq $[max_freq]
    setprop ro.iio.temp.bmc150_accel.name "BMC150 Temperature Sensor"
    setprop ro.iio.temp.bmc150_accel.vendor "Bosch Sensortec"

