# Don't do this during post-fs-data since there can be multiple
# post-fs-datas in various mixins and we don't know what order they'll
# execute in. Only set this property once we know all post-fs-data sections
# are done. i.e. in load_all_props_action, which comes after post-fs-data
# in system/core/rootdir/init.rc:
on load_all_props_action
    setprop vold.post_fs_data_done 1
