on post-fs
    insmod /system/lib/modules/ak09911.ko

    setprop ro.iio.magn.name "Asahi Kasei AK009911"
    setprop ro.iio.magn.vendor "Asahi Kasei"
    setprop ro.iio.magn.max_range 9800
    setprop ro.iio.magn.resolution 0.06
    setprop ro.iio.magn.power 2.4
