on fs
    # ro.boot.hardware = TARGET_PRODUCT (set in kernel command line
    # as androidboot.hardware). Mount all the filesystems as specified
    # in the fstab.
    mount_all /fstab

on post-fs
    restorecon /dev/block/by-name/android_persistent

service pstore-clean /system/bin/pstore-clean
    user root
    group system
    class late_start
    oneshot

service watchdogd /sbin/watchdogd
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0
